@import "reset";

html, body
{
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #333;
}

#jotpk
{
    display: block;
    width: 640px;
    height: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}

canvas.stage
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    border-radius: 0.25em;
}

.scoreboard
{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    color: white;
    z-index: 1;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.25em;
    padding: 0.5em;
    box-sizing: border-box;
}

.game-over
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1em;
    border-radius: 0.25em;
    font-size: 2em;
}
